*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e3edf7;
}

.accordeon{
    margin: 60px auto;
    width: 600px;
}

.accordeon li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 6px 6px #0000000d ;
}
.accordeon li label{
    display: flex;
   align-items: center;
   padding: 10px;
   font-size: 18px;
   font-weight: bolder;
   cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}



.accordeon .content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s ;
}

 input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}